*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
 }

body{
    background: radial-gradient(#D5F3FF,#51B4E8 ); 
 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.display{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 5px;
}

.baner2{
    display: flex;
    
    flex-direction: row;
}
.titulo{
    color: #FFFFFF;
    font-family: 'Lato' ,sans-serif
}

.input{
    border-radius: 5px;
    background-color:#89bfdc ;
    color: #fff;

    font-size: 12px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 5px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: center;
    width: 200px;
}

.input::placeholder{
    color: #ffffffdf;
}

.back{ /* PRIMER CONTENEDOR   */
    margin-top: 5px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    }



.weather-card{/* SEGUNDO CONTENEDOR*/
    margin-top: 110px;
    width: 300px;
    height: 160px;
    background: linear-gradient(#E5F2FF,#D5F3FF ); 
    border-radius: 4.85px;
    font-family: 'Lato', sans-serif;
    }

.section1{  /* CONTENEDOR HIJO DE WHATER-CARD LOS GRADOS Y LA IMAGEN*/
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

.section2{
    margin-left: 8px;
   }   

.section3{  /* CONTENEDOR HIJO DE WHATER CARD CIUDAD Y ESTDO DEL CLIMA*/
    margin-top: 25px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }


img{
    width: 70px;
    height: 70px;
}

.Grades{
    /*color: ;*/
    margin-top: 4px;
    margin-left: 4px;
    color:#026EED;
    font-size: 45px;

}
.details2{
    margin-left: 10px;
}
.Country{
    font-size: 18px;
    color:#026EED;
}

.details{
    font-size: 16px;
    color : #56A5F1
}

.Change{
    background-color: #38A0D8;
    margin-top: 50px;
    display: flex;
    margin-left: 530px;
    width: 178px;
    height: 38px;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 4.85px;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(13px 7px 4px rgba(0,0,0,0.25));
    offset:0px , 4.85px ;
    font-family: 'Lato', sans-serif;
    color:aliceblue;

}

.Go{
    background-color: #dce4e8c7;
    margin-top: 5px;
    display: flex;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 4.85px;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(13px 7px 4px rgba(238, 230, 230, 0.25));
    offset:0px , 4.85px ;
    font-family: 'Lato', sans-serif;
    color:rgb(8, 8, 8);

}

.togle{
    margin-left: 290px;
}




/* MEDIAS QERYS PARA EL RESSPONSIVE*/
@media (max-width:520px){

    .baner2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .weather-card{/* SEGUNDO CONTENEDOR*/
    margin-top: 110px;
    margin-left: 180px;
    width: 330px;
    height: 170px;
    background: linear-gradient(#E5F2FF,#D5F3FF ); 
    border-radius: 4.85px;
    font-family: 'Lato', sans-serif;
    }

    
.Change{
    background-color: #38A0D8;
    margin-top: 50px;
    display: flex;
    margin-left: 170px;
    margin-right: 100px;
    width: 178px;
    height: 38px;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 4.85px;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(13px 7px 4px rgba(0,0,0,0.25));
    offset:0px , 4.85px ;
    font-family: 'Lato', sans-serif;
    color:aliceblue;

}

}